@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* navbar start */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 350px;
    background-color: #ff4c69;
    color: white;
}

.nav h1 {
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav ul {
    display: flex;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 900;
    color: hsla(0, 0%, 100%, 0.5);
    gap: 30px;
}

.nav ul li {
    cursor: pointer;
}

.nav ul li:hover {
    color: rgba(0, 0, 0, 0.436);
}

/* navbar end */

/* hero section start */

.content {
    display: flex;
    justify-content: space-around;
    height: 500px;
    background-color: #ff4c69;
}

.text {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.txt p {
    color: white;
    font-size: 3.8rem;
    font-weight: bolder;
}

.iphone img {
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

.button {
    display: flex;
    gap: 20px;
}

.apple {
    background-color: #353a40;
    border: #353a40;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.google {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.apple:hover {
    background-color: white;
    color: black;
}

.google:hover {
    background-color: #353a40;
    color: white;
}

/* hero section end */

/* features section start */

.features {
    display: flex;
    justify-content: center;
    background: white;
    height: 500px;
    position: relative;
    z-index: 1;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icons .head {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.fa-solid,
.fas {
    font-weight: 900;
    font-size: 90px;
    color: #ef8172;
}

/* features section end */

/* slider section start */

.slider {
    height: 500px;
    background-color: #ff4c69;
}

.sliderbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliderimg {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sliderimg img {
    border: none;
    border-radius: 50%;
    width: 125px;
}

.sliderimg p {
    font-size: 1.25rem;
    font-style: italic;
}

/* slider section end */

/* card start */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    text-align: center;
    gap: 50px;
}

.headline h3 {
    font-size: 2rem;
    font-weight: bolder;
}

.cardcontent {
    display: flex;
    gap: 50px;
}

.card1 {
    display: flex;
    border: 1px solid;
    border-color: gray;
    border-radius: 5px;
    width: 470px;
    height: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card1 .card2 {
    background-color: #80808052;
    border-radius: 4px 4px 0 0;
}

.card1 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 1px solid;
    border-color: gray;
    width: 470px;
}

.card1 .txts {
    font-size: 2rem;
    font-weight: bold;
}

.card1 button {
    width: 110px;
    font-size: 1.25rem;
    height: 45px;
    cursor: pointer;
}

.card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 33px;
}

.card3 button {
    background-color: #353a40;
    border: #353a40;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.card1 button:hover {
    border: 2px solid;
    border-color: #353a40;
    background-color: white;
    color: black;
}

/* card end */

/* last line text start */

.lastlinetxt {
    display: flex;
    background-color: #ff4c69;
    height: 255px;
    justify-content: center;
    align-items: center;
}

.lastlinetxt h3 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* last line text start */

/* footer start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 245px;
    gap: 20px;
}

.footericon {
    display: flex;
    gap: 30px;
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footericon div .fa-solid {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.footericon div .fa-brands {
    font-size: 2rem;
}

.footertxt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footertxt .fa-solid {
    font-size: 1.25rem;
}


a {
    text-decoration: none;
    color: black;
}

/* footer end */